.team__title{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-top: 5rem;
    color:var(--dark-grey);
    font-size: 1rem;
    font-weight: 600;
}
.team__heading{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
}
.team__description{
    width:30rem;
    margin: 0 auto;
    padding-top: 1rem;
    color: #637381;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem;
    text-align: center;
    word-wrap: break-word;
}

.gallery {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 5rem;
    gap: 3rem;
}
.gallery__pic:hover{
    transition: .5s;
    transform: scale(1.1);
}
.gallery__pic{
    position: relative;
    cursor: pointer;
    transition: .5s;

}
.gallery__image{
    width: 17rem;
    height: 21rem;
    border-radius:.5rem ;
    object-fit: cover;
}
.gallery__div{
    display: flex;
    justify-content: center;
    align-items: center;  
    position: absolute;
    top: 80%;
    left: 50%;
    width: 85%;
    height: 5rem;
    text-align: center;
    transform: translate(-50%, -50%);
}
.gallery__txt{
    position: absolute;
    color: var(--dark-grey);
}
.gallery__work{
    color: var(--gris-neutre);
    font-size: .8rem;
}
